.h1{

}

.h2{
    font-size: medium;
    font-weight: bold;
}

.h3{
    font-size: small;
}

.featimg {
    display: block;
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 10px;
    float: left;
}

.facts {
    max-width: 300px;
    max-height: 75px;
    font-size: 10px
}

.hemis_ {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-top: 50px;
}