<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Web Scraping HW</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

  <div class="container-fluid">
    <div class='row'>
      <div class='col-md-12'>
        <h1> Latest Mars News:</h1>
        <h2 class = 'h2'>{{mars_app.news_title}}</h2>
        <h3 class = 'h3'>{{mars_app.news_paragraph}}</h3>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class="container-fluid col-md-6">
      <img src="{{mars_app.featured_image_url}}" class="img-fluid">
    </div>
 
    <div class="container-fluid col-md-5">
        <h2 class = "h2">Mars Facts</h2>
        <div class="table table-striped facts">
            {{ mars_app.mars_facts|safe}}
    </div>
  </div> 
  </div>
  <div class = "container-fluid">
    <div class="row">
    {% for dict in mars_app.hemisphere_image_urls %}
      <div class = "col-md-3 hemis_">
            <img class = "card-img-top" src="{{dict.img_url}}" alt="Landing Pg Visualization" class="hemis_ img-fluid">
              <p class = "h2">{{dict.title}}</p>
      </div>
    {% endfor %}
    </div>
    </div>
  </div>
</body>

</html>